.raw-t-hide {
    display: hidden;
}

#mainNavbar {
    background-color: #333;
}

.quarx-login {
    width: 312px;
    margin: -260px -156px;
}

.quarx-profile {
    width: 200px;
    height: 200px;
}

.raw-m-hide-important {
    display: none !important;
}