/*
|--------------------------------------------------------------------------
| CSS
|--------------------------------------------------------------------------
*/

.raw-t-hide {
    display: block !important;
}

.quarx-login {
    width: 612px;
    margin: -260px -306px;
}